<h1>登入</h1>
<form method="post" action="/Account/Login">

    <label>*Email</label>
    <input type="email" name="Account"/>
    <br />

    <label>*Password</label>
    <input type="text" name="Password"/>
    <br />

    <button type="submit">sign up</button>
    <span>**</span>
</form>